[submodule "bundle/Vundle"]
	path = bundle/vundle
	url = git@github.com:gmarik/vundle.git

[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git

[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = git@github.com:Fifty-Nine/conque-term

[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git

[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular

[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
